@import url(fontstyle.css);
header{
    height: 100vh;
    background-image: url("/assets/image/home-slide-2.jpg");
    perspective: 1000;
    transform-style: preserve-3d;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 
header .navbar{
    background-color: transparent;
}
header .navbar .nav-item .nav-link{
    font-size: 20px;
    font-weight: bold;
    
}
header .navbar .top-nav{
    border-bottom: 1.5px solid #ccc;
}
.pictures .container .row .col-md-3 img{
    width: 100%;
    height: 250px
}
header .navbar .top-nav .container-fluid .collapse .navbar-nav .nav-item{
    margin-left: 40px;
}
header .navbar .top-nav .container-fluid .collapse .navbar-nav .nav-item .nav-link{
    font-size: 14px;
}
header .navbar .top-nav .container-fluid .collapse .navbar-nav .nav-item .appointment .fa-solid{
    margin-left: 5px;
    color: var(--color-white);
}