*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-black: black;
    --bg-blue: #32DFFE;
    --color-white: white;
    --color-blue: #15c7e7;
    --bg-white: white;
    --letter-spacing: 3px;
    --bg-grey: rgb(27, 24, 24);
}
body{
    background-color: var(--bg-black);
}