* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*navbar start*/
.navbar {
  background-color: white !important;
  -webkit-box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.33);
          box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.navbar .container-fluid .navbar-brand {
  margin-left: 100px;
  color: grey;
}

.navbar .container-fluid .navbar-brand i {
  color: #ff6f00;
}

.navbar .container-fluid .collapse .navbar-nav {
  margin-left: 850px;
}

/*navbar end*/
/*home start*/
.home {
  margin-top: 70px;
}

.home .container .row .col-lg-6 h1 {
  margin-top: 150px;
}

.home .container .row .col-lg-6 .image-box {
  position: relative;
  width: 70%;
  height: 400px;
}

.home .container .row .col-lg-6 .image-box img {
  -webkit-animation-name: image;
          animation-name: image;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.home .container .row .col-lg-6 .button-box button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ff6f00;
  border-color: #ff6f00;
  border-radius: 5px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  border: none;
}

.home .container .row .col-lg-6 .button-box button:hover {
  letter-spacing: 1px;
  background-color: #ff6f00;
  color: white;
}

@-webkit-keyframes image {
  0% {
    top: 0;
  }
  25% {
    top: 10%;
  }
  50% {
    top: 15%;
  }
  100% {
    top: 0;
  }
}

@keyframes image {
  0% {
    top: 0;
  }
  25% {
    top: 10%;
  }
  50% {
    top: 15%;
  }
  100% {
    top: 0;
  }
}

@media screen and (max-width: 996px) {
  .home .container .row .col-lg-6 h1 {
    margin-top: 20px;
  }
  .home .container .row .col-lg-6 .image-box {
    width: 100% !important;
    height: 350px !important;
  }
}

/*home end*/
/*dishes start*/
.dishes {
  position: relative;
  margin-top: 150px;
}

.dishes .container .row h1 .span-1 {
  color: #ff6f00;
}

.dishes .container .row .col-lg-4 .dishes-card {
  border: 1px solid #ccc;
  height: auto;
  padding: 20px;
}

/*dishes end*/
/*foods start*/
.foods .container .row h1 .span-1 {
  color: #ff6f00;
}

.foods .container .row .col-lg-4 .foods-card {
  border: 1px solid #ccc;
  height: auto;
  padding-bottom: 20px;
  -webkit-box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.33);
          box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.33);
}

.foods .container .row .col-lg-4 .foods-card .image-box {
  padding: 20px;
  position: relative;
}

.foods .container .row .col-lg-4 .foods-card .image-box img {
  width: 100%;
  height: 250px;
}

.foods .container .row .col-lg-4 .foods-card .image-box .h2-box h2 {
  position: absolute;
  top: 10%;
  left: 8%;
  z-index: 1;
  color: white;
  background-color: #ff6f00;
  border-radius: 5px;
  display: inline;
  font-size: 25px;
}

.foods .container .row .col-lg-4 .foods-card h1 {
  font-size: 30px;
}

.foods .container .row .col-lg-4 .foods-card .foods-icon i {
  color: rgba(211, 185, 38, 0.664);
  font-size: 25px;
  margin-top: 10px;
}

.foods .container .row .col-lg-4 .foods-card .button-box button {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #ff6f00;
  background-color: white;
  color: #ff6f00;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.foods .container .row .col-lg-4 .foods-card .button-box button:hover {
  letter-spacing: 1px;
  background-color: #ff6f00;
  color: white;
}

/*foods end*/
/*works start*/
.works .container .row h1 .span-1 {
  color: #ff6f00;
}

.works .container .row .col-lg-3 .image-box img {
  border: 10px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.33);
          box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.33);
}

.works .container .row .col-lg-3 p {
  margin-top: 10px;
  font-size: 20px;
}

/*works end*/
/*review start*/
.review .container .row h1 .span-1 {
  color: #ff6f00;
}

.review .container .row .col-lg-4 .review-card {
  margin-top: 40px;
  border: 8px solid white;
  background-color: #353434;
  -webkit-box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.33);
          box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.33);
  height: auto;
}

.review .container .row .col-lg-4 .review-card .position-relative {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review .container .row .col-lg-4 .review-card .position-relative .image-box {
  position: absolute;
  top: -70px;
  border: 8px solid white;
  border-radius: 50%;
  width: 50%;
}

.review .container .row .col-lg-4 .review-card .position-relative .image-box img {
  width: 100%;
  border-radius: 50%;
}

.review .container .row .col-lg-4 .review-card h3 {
  color: white;
  padding-top: 160px;
}

.review .container .row .col-lg-4 .review-card .review-icon i {
  color: #ff6f00;
  font-size: 20px;
  margin-top: 10px;
}

.review .container .row .col-lg-4 .review-card p {
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

/*review end*/
/*order start*/
.order h1 .span-1 {
  color: #ff6f00;
}

.order .container {
  -webkit-box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.33);
          box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.33);
}

.order .container .row .col-md-4 .order-image-box {
  width: 100%;
  padding-bottom: 10px;
}

.order .container .row .col-md-4 .order-image-box img {
  width: 100%;
  border-radius: 5px;
}

.order .container .row .col-md-8 form {
  width: 100%;
}

.order .container .row .col-md-8 form input {
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.order .container .row .col-md-8 form .address-input {
  padding-bottom: 150px;
}

.order .container .row .col-md-8 .button-box button {
  margin-top: 60px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #ff6f00;
  background-color: white;
  color: #ff6f00;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.order .container .row .col-md-8 .button-box button:hover {
  letter-spacing: 1px;
  background-color: #ff6f00;
  color: white;
}

@media screen and (max-width: 1200px) {
  .display-none-res {
    display: none !important;
  }
  .w-100-res {
    width: 100% !important;
  }
}

/*order end*/
/*footer start*/
.footer {
  background-color: black;
}

.footer .container .button-box {
  padding-bottom: 80px;
}

.footer .container .button-box button {
  margin-top: 60px;
  margin-left: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #ff6f00;
  background-color: black;
  color: #ff6f00;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.footer .container .button-box button:hover {
  letter-spacing: 1px;
  background-color: #ff6f00;
  color: white;
}

/*footer end*/
/*ring start*/
.ring {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.ring .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ring .container .ring-shapes {
  width: 200px;
  height: 200px;
  border: 4px solid black;
  border-radius: 50%;
  position: absolute;
}

.ring .container .ring-shapes:nth-child(1) {
  border-bottom-width: 8px;
  border-color: magenta;
  -webkit-animation: rotate1 2s linear infinite;
          animation: rotate1 2s linear infinite;
}

.ring .container .ring-shapes:nth-child(2) {
  border-right-width: 8px;
  border-color: #00a2ff;
  -webkit-animation: rotate2 2s linear infinite;
          animation: rotate2 2s linear infinite;
}

.ring .container .ring-shapes:nth-child(3) {
  border-right-width: 8px;
  border-color: #00ff0d;
  -webkit-animation: rotate3 2s linear infinite;
          animation: rotate3 2s linear infinite;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*ring end*/
/*# sourceMappingURL=style.css.map */