@media screen and (max-width: 996px) {
    .navbar-part {
        display: none;
    }
    .responsive-order {
        order: -2;
    }
    .service-paragraph {
        width: 70%;
    }
    .w-100-ressponsive {
        width: 100% !important;
    }
    .display-flex-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 1240px) {
    .container {
        max-width: 1200px;
    }
}