@media screen and (max-width: 996px) {
    .navbar-part {
        display: none;
    }
    .responsive-order{
        order:-2;
    }
    .service-paragraph{
        width: 70%;
    }
}
@media only screen and (min-width: 1240px){
    .container {
        max-width: 1200px;
    }
}