$purplecolor: #6610f2;
$whitecolor: white;
$blackcolor: black;
$darkpurple: #6f42c1;
$greycolor: #646464;
$iconbg: #f5f5f5;
$btn-color: #5a49f8;
$icon-color-1: #ff930e;
$icon-color-2: #18dc59;
$icon-color-4: #36bafe;
$icon-color-5: #ff3838;
$icon-color-6: #01daba;