$orangecolor: rgb(255, 111, 0);
$whitecolor: white;
$greycolor: grey;
$blackcolor: black;
$goldcolor: rgba(211, 185, 38, 0.664);
$darkgrey: rgb(53, 52, 52);
$purplecolor: rgb(255, 0, 255);
$bluecolor: rgb(0, 162, 255);
$greencolor: rgb(0, 255, 13);