

@media screen and (max-width:1024px) {
    section {
        header {
            .nav {
                .navbar-part {
                    display: none !important;
                }

                span {
                    display: block !important;
                }
                .register{
                    display: none !important;
                }


            }
        }
    }
    .button-boxes {
        a {
            span {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width: 912px) {
    .home {
        .row {
            .home-search {
                display: none;
            }

            .home-contents {
                width: 100%;
                padding-left: 2px !important
            }
        }
    }
     
}

@media screen and (max-width:820px) {
    .footer{
        .footer-div{
            justify-content: center !important;
            ul{
                li{
                    display: none;
                }
            }
            
        }
    }
    
}
@media screen and (max-width: 540px) {
    .footer{
        .footer-div{
            a{
                margin-top: -20px;
                padding-bottom: 20px;
                
            }
            
        }
    }
    .home{
        .row{
            .home-contents{
                margin-left: 20px;
                .second-part{
                    h1{
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 415px) {
    .home{
        .row{
            .home-contents{
                .second-part{
                    .button-boxes{
                        gap: 15px !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 390px) {
    section{
        header{
            .nav{
                padding-right: 10px !important;
            }
        }
    }
}