$black:#000;
$white:#fff;
$grey: #ccc;
$border-bg-color:#F6F8FE;
$dark-grey:#ABAABA;
$green: #11A239;
$orange: #FF5858;
$blue: #586EFF;
$violet: #862BCE;
$dark-blue: #162480;
$openmenu-color: rgb(226, 226, 244)