@import url(fontStyle.css);
.home .container .row .col-md-6 .card-img {
    height: 700px;
}

.home .container .row .col-md-6 .card-img img {
    width: 100%;
    height: 100%;
}

.home .container .row .col-md-6 .card-text-home {
    padding-top: 200px;
}

.home .container .row .col-md-6 .card-text-home p {
    color: #8b9cb7;
    text-align: center;
}

.home .container .row .col-md-6 .card-text-home h1 {
    font-size: 54px;
    line-height: 70px;
    font-weight: 700;
    text-align: center;
    color: #fafbfb;
}

.home .container .row .col-md-6 .card-text-home .button-box button {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px 20px;
    border: none;
}

.border-dashed {
    border-left: 1px solid var(--color-white);
}

.personal-details .container .row .col-md-6 .social-box i {
    width: 40px;
    height: 35px;
    border: 1px solid var(--blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--blue);
    padding-top: 4px;
    padding-left: 8px;
    font-size: 22px;
    margin-left: 4px;
}

.card {
    color: #8b9cb7;
}

.color2 {
    color: var(--color-2);
}

.services .container .row .col-md-4 .card {
    box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
    background-color: var(--card-bg);
    height: 250px;
}

.border-dashed {
    background-color: red;
    border: 1px solid dashed;
}