@import url(fontStyle.css);
.coffe {
    margin-top: 50px;
}

.coffe .container .row {
    gap: 10px;
}

.coffe .container .row .col-md {
    border: 1px solid var(--color-white);
    height: 350px;
}

.coffe .container .row .col-md i {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 5px 10px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.coffe .container .row .col-md i:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}