@mixin translate {
    transform: translateX(10px);
}
@mixin transition {
    transition: .5s ease;
}
@mixin absolute {
    position: absolute;
}
@mixin relative {
    position: relative;
}
@mixin padding {
    padding: 55px 40px 50px;
}